h6{
    margin: 0 !important;
}

.active{
    text-decoration: none;
    animation: slide-bottom .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



.toolbar{
    width: 100%;
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    grid-template-areas: "a a a"
                         "b b b";

    .left{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 25px;
    }

    .center{
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .right{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 25px;
    }

    .options{
        padding: 20px;
        grid-area: b;
        display: flex;
        justify-content: space-between;
    }

}

.content{
    height: 100%;
    width: 100%;
}


@keyframes slide-bottom {
    0% {
      transform: translateY(0);
    }
    50%{
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0);
      color: black;
    }
}
