<div class="toolbar">

    <div class="center">
        <h5> {{displayDate}} </h5>
    </div>

    <div class="options">
        <a routerLink="todo"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: false}">
            <h6>To Do</h6>
        </a>
        <a routerLink="done"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: false}">
            <h6>Done</h6>
        </a>
        <a routerLink="settings"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: false}">
            <h6>Settings</h6>
        </a>
    </div>
</div>


<div class="content">
    <router-outlet></router-outlet>
</div>


