/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary: #673ab7;
$accent: #ffd740;


.bg-primary{
    background-color: $primary;
}

.bg-gradient-primary{
    background: $primary;
    background: linear-gradient(90deg, $primary 0%, $accent 100%);
}